#stage {
  position: relative;
  margin-top: 1em;
}

#stage .layer:first-child {
  position: relative;
}

#stage .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
