body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

li {
  margin-bottom: .5em;
}

.keycode {
  display: inline-block;
  font-family: monospace;
  background: #999;
  color: black;
  border-radius: 0.25em;
  padding: 0.025em 0.25em;
}

.directions {
  max-width: 350px;
  margin: 0 auto;
}
